{{- define "object" -}}

{{$key := index . "key" -}}
{{$object := index . "object" -}}
{{$required := $object.Required -}}
{{$definitions := index . "definitions" -}}

{{titleCase $key }} struct {
        {{template "properties" dict "properties" $object.Properties "required" $required "definitions" $definitions}}
} `json:"{{ titleCase $key}},omitempty"`

{{- end -}}