{{- define "validate" -}}

{{$dict := validate . -}}
{{$length := len $dict -}}

{{$count := 0 -}}
    {{range $key, $value := $dict -}}
    {{$count = add $count 1 -}}
        {{ if eq $count 1 }} validate:"{{end -}}
        {{if $value -}}
            {{if eq $key "required" -}}
                {{$key }}{{ if ne $length $count }},{{end -}}
            {{else -}}
                {{$key }}={{ $value }}{{ if ne $length $count }},{{end -}}
            {{end -}}
        {{end -}}
        {{if eq $length $count }}"{{end -}}
    {{end -}}

{{- end -}}